
div{
    border: 2px solid #1a0101;
    border-radius: 15px;
    margin: 20px 25px;
    padding: 18px;
    background-color: rgba(11, 17, 2, 0.2);
    box-shadow: 4px 7px #8fc7a5;
}
#foto{
    width:50px;
    float:left;
    border-radius: 50%;
}
img{
    width: 30px;
    float: left;
}
.cuerpoPagina{
    text-align: center;
    font-family: 'Assistant', sans-serif;
    background: linear-gradient(to right, #a2e1b9, rgb(208, 239, 198));
}
h1, h2, h3{
    text-shadow: 16px 15px rgba(82, 81, 81, 0.9);
}
